p{
    font-size: 20px !important;/*buraya important koyar isem burdaki css kodunu hiç bir kod ezemez.*/
}

.red{
    color: red;/*red adında Sınıf yarattım*/
}

.blue{
    color: blue;
}

.f22{
    font-size: 22px;
}

.f30{
    font-size: 30px;
}
/*class kodları buradaki diğer normal kodları ezer.*/
h1{
    color:blue;
}/*red classının kodu burdaki maviyi ezer.*/

#header{
    color: yellow;
    font-size: 40px;
}
/*id tagi ise classı ezer yani en güçlüden en zayıfa sıramız: important>id>class>normal etiket*/

#paragraf{
    font-size: 30px;
}/* important etiketini ezemez hiçbir şey*/






