p[title] {
    border: 2px solid gray;
    padding: 7px;
    /* padding sayesinde çerçeve ve yazı arası 7 px lik bir boşluk oluşturdum.*/
}

p[title="third paragraph"] {
    background-color: gold;
}

p[title~="forth"]{
    background-color: red;
}/* '~' işareti sayesinde kelimeyi tam yazmama gerek kalmadan sadece forth yazarak içinde forth geçen p yi al demiş olurum. */

a[href^="http"]{
    color: red;
}/* ^= işaretin anlamı http ile başlayan a etiketlerini seç demek.*/

a[href$="com"]{
    color: aqua;
}

a[href="https://www.example.net"][target="_blank"]{
    color:yellow;
}

input[type="text"]{
    width: 150px;
    background-color: blue;
    display: block;
}

input[type="button"]{
    color: white;
    background-color: green;
    padding: 8px 16px;
}












