img{
    width: 250px;
    float: left;
    margin-right: 10px;/*yazı ile resim arası uzaklık*/
}

p{
    border: 2px solid red;
    padding: 5px;/*yazı ile kutu arası mesafe*/
}

.clear{
    overflow: auto;
}/*resmi float ile hizaladığım için p y, kapsayan border resmi kapsamaz ve ortaya hoş olmayan bir görüntü çıkar bu taşma görüntüsünü ortadan kaldırmak için bu kodu kullandım!!!!*/